body{
    transform: scale(0.75,0.50);
    background: orange;
}

#caja{
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #e1e18b;
    margin-top: -200px;
    margin-left: -75px;
    padding: 30px 35px;
}

/* .botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
} */

.botonIniciar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    position: absolute;
    width: 317px;
    height: 114px;
    left: 561px;
    top: 402px;
    font-size: 25px;
    

    /* Dark blue/dark-blue-300 */
    
    background: orange;
    border-radius: 24px;
}

.agregarPalabra{
    box-sizing: border-box;

/* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    position: absolute;
    width: 280px;
    height: 67px;
    left: 579px;
    top: 554px;
    font-size: 20px;

    /* Dark blue/dark-blue-300 */

    /* border: 1px solid #0A3871; */
    border-radius: 24px;
    background: #e1e18b;
}

@media screen and (max-width:480px) {
    body{
        /* background: green; */
    }

    #caja{
        position: relative;
        width: 390px;
        height: 1000px;
        background: #e1e18b;
        margin-top: -200px;
        margin-left: -40px;
        padding: 30px 35px;

    }

    .botonIniciar{
        display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    position: absolute;
    width: 317px;
    height: 114px;
    left: 80px;
    top: 402px;
    font-size: 25px;
    background: orange;
    border-radius: 24px;
    }

    .agregarPalabra{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px;
        gap: 8px;
        position: absolute;
        width: 280px;
        height: 67px;
        left: 100px;
        top: 554px;
        font-size: 20px;
        /* border: 1px solid #0A3871; */
        border-radius: 24px;
        background: #e1e18b

    }
   
    
}
