body{
    transform: scale(0.75,0.50);
    background: #66d747;
}

#caja{
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #e7e7c0;
    margin-top: -200px;
    margin-left: -75px;
    padding: 30px 35px;
    box-shadow: 10px 10px 10px 25px #1c5d0a;
    background-image: url(imagenes/imagenfondoJuegoahorcado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.boton3{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 688px;
    height: 67px;
    left: 376px;
    top: 720px;
}
  
#inciarJuego{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 332px;
    height: 67px;

    /* Dark blue/dark-blue-300 */

    background:  #66d747;
    border-radius: 24px;

/* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
    font-size: 25px;
}

#cancelar{
    /* display: flex; */
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 332px;
    height: 67px;
    
    /* Dark blue/dark-blue-300 */
    
    background: #66d747;
    border-radius: 24px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 1; 
    font-size: 25px;    
}

@media screen and (max-width:480px) {
    body{
        /* background: green; */
    }

    #caja{
        width: 375px;
        height: 667px;
        margin-top: -100px;
        margin-left: -30px;
        background-image: ;
    }

    canvas{
        width: 300px;
        height: 600px;
    }

    .boton3{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
        position: absolute;
        width: 0px;
        height: 67px;
        left: 50px;
        top: 780px;
    }
 
    #iniciarJuego{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px;
        gap: 8px;
        width: 332px;
        height: 67px;
        background: orange;
        border-radius: 24px;
        flex: none;
        order: 0;
        flex-grow: 1;
        font-size: 25px;
        margin-top: 100px;
        margin-left: -350px;
    }

    #cancelar{
        flex-direction: row;
        align-items: flex-start;
        padding: 0;
        gap: 8px;
        font-size: 25px;
        width: 300px;
        height: 67px;
        background: #e1e18b;
        border-radius: 24px;
        flex: none;
        order: 0;
        margin-left: -325px;
        margin-top: 150px;
    }

    .botones{
        display: flex;
        flex-direction: row;
        align-items: normal;
        padding: 0px;
        gap: 24px;
        position: absolute;
        width: 100px;
        height: 67px;
        margin-left: 0;
        left: 25px;
        top: 900px;
    }
}

    