body{
    transform: scale(0.75,0.50);
    background: orange;
}

#caja{
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #e1e18b;
    margin-top: -200px;
    margin-left: -75px;
    padding: 30px 35px;
}

#input-text{
    position: absolute;
    width: 299px;
    height: 48px;
    left: 376px;
    top: 256px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px; 
    line-height: 150%;
    /* identical to box height, or 48px


    /* Dark blue/dark-blue-300 */

    color: #0A3871;
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 688px;
    height: 67px;
    left: 376px;
    top: 701px;

}

.guardarEmpezar{
    /* display: flex; */
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    font-size: 25px;
    
    width: 332px;
    height: 67px;
    
    /* Dark blue/dark-blue-300 */
    
    background: orange;
    border-radius: 24px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 1;   

}

.cancelar{
    /* display: flex; */
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    font-size: 25px;
    
    width: 332px;
    height: 67px;
    
    /* Dark blue/dark-blue-300 */
    
    background: orange;
    border-radius: 24px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 1; 
}

@media screen and (max-width:480px) {
    body{
        /* background: green; */
    }

    #caja{
        position: relative;
        width: 375px;
        height: 667px;
        background: #e1e18b;
        margin-top: -100px;
        margin-left: -33px;
        padding: 30px 35px;
    }


    #input-text{
        margin-left: -300px;
    }

    .guardarEmpezar{
        /* display: flex; */
        flex-direction: row;
        align-items: flex-start;
        padding: 0; 
        gap: 8px;
        font-size: 25px;
        width: 50%;
        height: 67px;
        background: #4a00ff;
        border-radius: 24px;
        flex: none;
        order: 0;
        margin-left: -532px;
        margin-top: 50px;

    }

    .cancelar{
        flex-direction: row;
        align-items: flex-start;
        padding: 0; 
        gap: 8px;
        font-size: 25px;
        width: 50%;
        height: 67px;
        background: #4a00ff;
        border-radius: 24px;
        flex: none;
        order: 0;
        margin-left: -350px;
        margin-top: 150px;
    }

    .botones{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
        position: absolute;
        width: 50;
        height: 67px;
        margin-left: 200px;
        left: 376px;
        top: 701px;
    }
}

