body{
    transform: scale(0.75,0.60);
    background: yellow;
}

#caja{
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #b7b1b1;
    margin-top: -150px;
    padding: 30px 35px;
}

/* .botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
} */

.botonIniciar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    position: absolute;
    width: 317px;
    height: 114px;
    left: 561px;
    top: 402px;

    /* Dark blue/dark-blue-300 */
    
    background: #0A3871;
    border-radius: 24px;
}

.agregarPalabra{
    box-sizing: border-box;

/* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    position: absolute;
    width: 280px;
    height: 67px;
    left: 579px;
    top: 554px;

    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    border-radius: 24px;
}
